<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="welcome">
<div id="welcome-section">
    <h1>Welcome to Stock'Em</h1>
    <p>Your One Stop Solution to All Your Capstone Needs</p>
    <div style="display: flex; flex-direction: row; justify-content: space-around">
    <%= button_to "Login with Google", "/auth/google_oauth2", data: { turbo: "false" }, class: "btn-start", style: "margin-left: 0" %>
    <%= button_to "Login as Admin", admin_login_path, class: "btn-start", style: "margin-left: 0" %>
    </div>
</div>
</div>
